<footer>
    <link rel="stylesheet" type="text/css" href="/css/footer.css">

    <body>

        <div id="header-box-2">
    
            <span id="tit"> Social Media </span>
            <span id="tit1"> All Rights Reserved </span>
      
        </div>
    
    </body>

</footer>
