<footer>
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <!-- <link rel="stylesheet" type="text/css" href="<%=assetPath('css/footer.css')%>"> -->
    <body>

     
    </body>

</footer>
