<header>

       
        <link rel="stylesheet" type="text/css" href="/css/header.css">
 
        <div id="header-box">
    
            <span id="title"> SOCIAL MEDIA </span>
            
            <%if(locals.user) { %>
            
            <span id="username"> <%= user.name %> </span>
    
                <a href="/users/sign-out" id="login2"> SIGN OUT </a>
    
            <%}else{%>
    
                <a href="/users/sign-in" id="login"> SIGN IN </a>
    
                <a href="/users/sign-up" id="login1"> SIGN UP </a>
    
            <% } %>
    


</header>

