<html>

    <head>

       <title> <%= title %> </title>

    </head>

    <body>

        <!-- Including the _header.ejs file and _footer.ejs file -->

        <%- include('_header');%>

            <!-- Declaring the variable part body -->

            <%- body %>

        <%- include('_footer');%>

    </body>

</html>